/* *{
    background-color: beige;
} */
.navbutton{
    padding-left: 17%;
}
.navvbar{
    justify-content: center;
    padding-left: 15%;
    
}
.navbar-brand{
    padding-top: 0;
}

.navbar-nav{
    color: orange;
}
.img-fluid{
    justify-content: right;
    margin-left: 10%;
}
.gplay1{
    width: 200px;
}
.lead{
    padding-top: 30px;
}
.ds1{
    padding-left: 13px;
}
#desktop-1{
    padding-bottom: 8em;
}

#desktop-2{
    background-color: rgb(4, 4, 85);
}


.enqry{
    padding-top: 60px;
}
.enbox1{
    padding-top: 60px;
    padding-left: 40px;
}
.easy{
    padding-top: 110px;
}
.paid{
    padding-top: 8px;
}

.pargh1{
    padding-top: 30px;
    padding-left: 40px;
}

.pargh2{
    padding-top: 20px;
}
.paid{
    padding-top: 70px;
}
.pargh3{
    padding-top: 30px;
}
.frame43{
    margin-left: 5%;
    height: 350px;
    padding-top: 60px;
    width: 450px;
}
.container-lg{
    padding-bottom: 70px;
    /* padding-top: 50px; */
}
#desktop-3{
    background-image: url("images/Desktop\ -\ 4.png");
}
.question{
    padding-top: 50px;
}
.faq{
    padding-top: 20px;
}
.accordion{
    padding-top: 30px;
    
}


#desktop-4{
    background-image: url("images/Frame\ 70.png");
}
.meet{
    padding-top: 6%;
}
.gplay{
    padding-top: 10px;
}
.swift{
    padding-left: 50px;
}

footer{
    padding: 40px;
}
.about{
    color:rgb(4, 4, 102);
    font-size: x-large;
    padding-top: 30px;
}
.inform{
    padding-top: 30px;
}
.principle{
    padding-top: 30px;  
}
ul{
    padding: 20px;
    
}
.artisan{
    color:rgb(4, 4, 102);
    font-size: x-large;
    padding-top: 30px;
}

.group{
    text-align: right;
}
.content{
    text-align: left;
}
.contnt{
    /* width: fit-content; */
    padding-right: 120px;
}
.sendbuttn{
    padding: 40px;
}
.endpg{
    text-decoration: none;
    list-style-type: none;
    padding-left: 20px;
    color: black;
}
.footpg{
    text-decoration: none;
    list-style-type: none;

    color: black;
    text-align: right;
}
.flx{
    display: flex;
    flex-direction: row;
}
.box2{
    flex: 2;
    text-align: right;
}
.serve{
    padding: 50px;
}
.serve h4{
    color: rgb(7, 7, 129);
   
}
.dsktop2{
    width: 150px;
    padding-left: 30px;
    padding-top: 0;
}
.frame50{
    width: 50px;
    height: px;
}
.quest1{
    padding-top: 15px;
}


@media(max-width: 576px){ 
    .flx{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* text-align: justify; */
    }
    .ds1{
        text-align: start;
    }
    .gplink{
        text-align: left;
    }
    .box1{
        padding-left: 15px;
    }
    .box2{
        
        text-align: left;
        padding-top: 30px;
    }
    .dwnpg{
        align-items: center;
    }
    .newd1{
        display: flex;
        flex-direction: column;
    }
    .newd2{
        display: flex;
        flex-direction: column-reverse;
    }
    .newd3{
        display: flex;
        flex-direction: column;
    }
    .enbox1{
        text-align: start;
    }
    .easy{
       text-align: start;
       padding-top: 10px;
       padding-left: 45px;
    }
    .paid{
        text-align: start;
        padding-top: 10px;
        padding-left: 45px;
    }
    .pargh2{
        text-align: start;
        padding-left: 45px;
    }
    .pargh3{
        text-align: start;
        padding-left: 45px;
    }
   
    .servebox1{
        display: flex;
        flex-direction: column;
    }
    .servebox2{
        display: flex;
        flex-direction: column;
    }
    .servebox3{
        display: flex;
        flex-direction: column;
    }
    .servebox4{
        display: flex;
        flex-direction: column;
    }
    .servebox5{
        display: flex;
        flex-direction: column;
    }
    .servebox6{
        display: flex;
        flex-direction: column;
    }
 
 
  
  .srvbox2{
    padding-top: 30px;
  }
  .srvbox4{
    padding-top: 30px;
  }
  .srvbox6{
    padding-top: 30px;
  }
  .srvbox8{
    padding-top: 30px;
  }
  .srvbox10{
    padding-top: 30px;
  }
  .srvbox12{
    padding-top: 30px;
  }
  .usar{
    display: flex;
    flex-direction: column;
  }
  .usar1{
    display: flex;
    flex-direction: column-reverse;
  }
  .jswft{
    padding-right: 10px;
  }

}